.settings-screen ul:last-child {
  border-top: var(--border-line);
}

.settings-setting {
  padding: 18px 0;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.settings-setting > i {
  opacity: 0.8;
}

.settings-setting > span {
  margin-left: 12px;
}
.settings-setting__detail {
  position: absolute;
  right: 0px;
  opacity: 0.7;
}
