.alt-screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px var(--horizontal-space);
  top: 3px;
}

.alt-screen-header__title {
  font-weight: 600;
  font-size: 22px;
  width: 33%;
}

.alt-screen-header__icons {
  width: 33%;
}

.alt-screen-header div:first-child {
  margin-right: auto;
}

.alt-screen-header div:nth-child(2) {
  text-align: center;
}

.alt-screen-header div:last-child {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.chat-header__last-icon i:first-child {
  margin-right: 15px;
}
