.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__column--time-badge {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  transform: scale(0.8);
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  object-fit: cover;
  margin: 0 15px 0 0;
}
.user-component__title {
  font-weight: 700;
  font-size: 16px;
}

.user-component__subtitle {
  margin-top: 7px;
  font-size: 13px;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__subtitle > span {
  color: rgb(255, 38, 0);
  display: block;
  border-radius: 50%;
  border: 1.5px solid rgb(255, 38, 0);
  padding: 1px;
  font-weight: 700;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: 10px;
  margin-left: 5px;
}

.user-component__avatar--xl {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  object-fit: cover;
  margin: 0 15px 0 0;
}

.user-component__avatar--m {
  width: 60px;
  height: 60px;
  border-radius: 22px;
  object-fit: cover;
  margin: 0 15px 0 0;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  object-fit: cover;
  margin: 0 15px 0 0;
}

.user-component__title--not-bold {
  font-weight: 400;
  font-size: 16px;
}

.user-component__column > i {
  opacity: 20%;
  margin: 0 10px;
}

@keyframes iconShake {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.user-component__column--icon i:hover {
  animation: iconShake 0.5s linear infinite;
}
